body {
  background-color: #222831; /* Changed the background color of the page */
  font-family: 'Arial', sans-serif;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #393E46;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #EEEEEE;
}

.login-container h2 {
  text-align: center;
  color: #00ADB5;
  margin-bottom: 20px;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container .form-group label {
  color: #393E46;
  font-weight: bold;
}

.login-container .form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #393E46;
  border-radius: 5px;
  background-color: #393E46;
  color: #EEEEEE;
}

.login-container .btn {
  width: 100%;
  padding: 10px;
  background-color: #00ADB5;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.login-container .btn:hover {
  background-color: #222831;
}

.alert {
  margin-top: 10px;
}

::placeholder {
  color: #EEEEEE;
  opacity: 0.7;
}
