<!-- app-sidebar.component.html -->

<div class="sidebar">
  <ul class="list-group">
    <li class="list-group-item active" style="background-color: #393E46; border-color: #222831;">
      <a href="#" style="color: #EEEEEE;">Dashboard</a>
    </li>
    <li class="list-group-item" style="background-color: #393E46; border-color: #222831;">
      <a routerLink="/about-us" style="color: #EEEEEE;">About-Us</a>
    </li>
    <li class="list-group-item" style="background-color: #393E46; border-color: #222831;">
      <a routerLink="/support" style="color: #EEEEEE;">Support</a>
    </li>
    <li class="list-group-item" style="background-color: #393E46; border-color: #222831;">
      <a routerLink="/help" style="color: #EEEEEE;">Help</a>
    </li>
  </ul>
</div>






